Это 4 лаба по питону.

In [50]:
import cv2
import pandas as pd

1-2. Формируем DataFrame:

In [16]:
df = pd.read_csv('dataset.csv', sep = ' ')

                     Absolute_way       Class
0  E:\dataset/polarbears/0000.jpg  polarbears
1  E:\dataset/polarbears/0001.jpg  polarbears
2  E:\dataset/polarbears/0002.jpg  polarbears
3  E:\dataset/polarbears/0003.jpg  polarbears
4  E:\dataset/polarbears/0004.jpg  polarbears
5  E:\dataset/polarbears/0005.jpg  polarbears
6  E:\dataset/polarbears/0006.jpg  polarbears
7  E:\dataset/polarbears/0007.jpg  polarbears
8  E:\dataset/polarbears/0008.jpg  polarbears

3. Формируем столбец-метку:

In [43]:
list1 = [0 for item in df.Class if item == 'polarbears'] 
list2 = [1 for item in df.Class if item == 'brownbears'] 
res = list1 + list2
df['Mark'] = res

4. Добавляем три новых столбца:

In [49]:
height = []
width = []
depth = []

for image in df.Absolute_way:
    img = cv2.imread(image)
    heig, wid, dep = img.shape
    height.append(heig)
    width.append(wid)
    depth.append(dep)
    
df['Height'] = height
df['Width'] =  width
df['Depth'] = depth

5. Вычисление статистической информации

In [53]:
df.describe()

              Mark       Height        Width   Depth
count  2100.000000  2100.000000  2100.000000  2100.0
mean      0.500000   310.786667   442.373333     3.0
std       0.500119    17.058574    72.636549     0.0
min       0.000000   219.000000   148.000000     3.0
25%       0.000000   304.000000   427.000000     3.0
50%       0.500000   320.000000   480.000000     3.0
75%       1.000000   320.000000   480.000000     3.0
max       1.000000   320.000000   480.000000     3.0

6. Фильтрация по метке:

In [58]:
def filter_by_mark(df: pd.core.frame.DataFrame, mark: int) -> pd.core.frame.DataFrame:
    '''
    Создание нового датафрейма, отфильтрованного по метке
    Ключевые аргуметы:
    df(pd.core.frame.DataFrame): исходный датафрейм
    mark(int): метка
    '''
    return df[df.Mark == mark]

filtered_df = filter_by_mark(df, 1)

                        Absolute_way       Class  Mark  Height  Width  Depth
2090  E:\dataset/brownbears/1040.jpg  brownbears     1     300    480      3
2091  E:\dataset/brownbears/1041.jpg  brownbears     1     320    480      3
2092  E:\dataset/brownbears/1042.jpg  brownbears     1     320    480      3
2093  E:\dataset/brownbears/1043.jpg  brownbears     1     320    480      3
2094  E:\dataset/brownbears/1044.jpg  brownbears     1     320    370      3
2095  E:\dataset/brownbears/1045.jpg  brownbears     1     320    480      3
2096  E:\dataset/brownbears/1046.jpg  brownbears     1     320    480      3
2097  E:\dataset/brownbears/1047.jpg  brownbears     1     320    446      3
2098  E:\dataset/brownbears/1048.jpg  brownbears     1     320    480      3
2099  E:\dataset/brownbears/1049.jpg  brownbears     1     320    480      3